html {
	background-image: url('./images/bg.png');
	background-size: 100% 100vh;
	background-repeat: no-repeat;
	font-family: HelveticaNeue, Microsoft JhengHei;
}

@font-face {
  font-family: HelveticaNeue;
  src: url(./font/HelveticaNeueBd.ttf);
}

@font-face {
  font-family: thirdfont;
  src: url(./font/thirdfont.ttf);
}

body {
	margin: 0px;
}

.container {
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
}

#bg {
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: rgba(50, 50, 50, 0.5);
	z-index: 5;
	display: none;
}

/************ title ************/

#title-edit {
	position: absolute;
	margin: auto;
	top: 0; bottom: 0; left: 0; right: 0;
	height: 230px;
	width: 460px;
	color: white;
	background-color: rgba(20, 20, 20, 0.7);
	font-weight: bold;
	border-radius: 30px;
	z-index: 10;
	display: none;
}

#title-edit h2 {
	text-align: center;
}

#title-edit span {
	font-size: 16pt;
	margin-left: -70px;
}

#title-edit input {
	font-size: 16pt;
	height: 35px;
	width: 190px;
}

#title-edit button {
	position: absolute;
	font-size: 14pt;
	height: 40px;
	width: 80px;
	right: 20px;
}

#flower-field {
	position: absolute;
	top: 5%;
	left: 35%;
}

#flower-field img {
	width: 6%;
}

#font-field {
	position: absolute;
	top: 11%;
	left: 4%;
	font-size: 6vw;
	letter-spacing: 10px;
	font-weight: bold;
	font-family: DFKai-sb;
}

/************ item ************/

#item-img {
	position: absolute;
	top: 26%;
	left: 42.2%;
	height: 28%;
	width: 15%;
}

#item-edit {
	position: absolute;
	margin: auto;
	top: 0; bottom: 0; left: 0; right: 0;
	height: 60%;
	width: 75%;
	color: white;
	background-color: rgba(20, 20, 20, 0.7);
	font-weight: bold;
	border-radius: 30px;
	z-index: 10;
	display: none;
}

#item-edit img {
	width: 25%;
	margin: 2%;
}

/************ value ************/

#value-field {
	position: absolute;
	height: 35%;
	width: 35%;
	top: 28%;
	right: 0%;
}

.value-icon {
	position: absolute;
	float: left;
	width: 35%;
}

.value-number {
	position: absolute;
	display: inline-block;
	font-weight: bold;
	font-size: 8vw;
	color: #D14542;
	top: 9%;
	left: 27%;
}

.value-icon2 {
	position: absolute;
	float: left;
	width: 17%;
	left: 9%;
	bottom: 6%;
}

.value-number2 {
	position: absolute;
	font-size: 3vw;
	color: white;
	left: 30%;
	bottom: 10%;
}

/************ cup ************/

#cup-field {
	position: absolute;
	height: 25%;
	width: 90%;
	left: 10%;
	bottom: 3.5%;
}

.cup-icon {
	display: inline-block;
	width: 15%;
	margin-left: -20px;
}

.cup-value {
	position: absolute;
	font-size: 5vw;
	right: 11%;
	bottom: 11%;
}

#date {
	position: absolute;
	top: 63%;
	left: 5%;
	font-size: 3vw;
}
	
#cup-date {
	position: absolute;
	bottom: 2%;
	height: 5%;
	width: 70%;
	left: 10%;
	font-size: 2.2vw;
}

#cup-date span {
	margin-left: 2%;
	margin-right: 4.5%;
}

