html {
	background-image: url('./images/bg.png');
	background-size: 100% 100vh;
	background-repeat: no-repeat;
	font-family: HelveticaNeue;
}

@font-face {
  font-family: HelveticaNeue;
  src: url(./HelveticaNeueBd.ttf);
}

body {
	margin: 0px;
}

.container {
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
}

#value-field {
	//background-color: red;
	position: absolute;
	height: 35%;
	width: 35%;
	top: 28%;
	right: 0%;
}

.value-icon {
	float: left;
	width: 35%;
}

.value-icon2 {
	float: left;
	width: 15%;
	margin-top: -5%;
	margin-left: 9.5%;
}

.value-number {
	display: inline-block;
	font-size: 5vw;
	color: #D14542;
	margin-top: 5%;
	margin-left: -6%;
}

.value-number2 {
	display: inline-block;
	font-size: 3vw;
	color: white;
	margin-top: -3%;
	margin-left: 5%;
}

/************ cup ************/

#cup-field {
	//background-color: red;
	position: absolute;
	height: 25%;
	width: 70%;
	left: 7%;
	bottom: 5%;
}

.cup-icon {
	display: inline-block;
	width: 18%;
	margin-left: -20px;
}

.cup-value {
	position: absolute;
	font-size: 5vw;
	right: 5%;
	bottom: 11%;


