*{
    font-family: 'Microsoft JhengHei';
    /* border: solid 2px; */
}

html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.key{
    display: inline-block;
    width: 50px;
    height: 200px;
    box-shadow: 10px 10px 3px grey;
    border: solid 1px;
    
}

.key:active{
    box-shadow: 10px 10px 10px grey;
    background-color: red;
}

