html {
	background-color: rgb(196, 224, 220);
	font-family: Microsoft JhengHei; 
}
body {
	margin: 0;
	height: 100%;
	width: 100%;
}

.container {
	position: fixed;
	overflow: hidden;
	min-height: 100vh;
	min-width: 100%;
}

#bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(50, 50, 60, 0.5);
	z-index: 15;
	display: none;
}

/************** Animation ***************/

.beltSlideLeft{
	animation-name: beltSlideLeft;
    -webkit-animation-name: beltSlideLeft;
    animation-duration: 35s;
    -webkit-animation-duration: 35s;
    visibility: visible;
}
@keyframes beltSlideLeft {
	0% {
        left: 10%;
	}
	100% {
        left: -150%;
	}
}

.beltSlideRight{
	animation-name: beltSlideRight;
    -webkit-animation-name: beltSlideRight;
    animation-duration: 35s;
    -webkit-animation-duration: 35s;
    visibility: visible;
}
@keyframes beltSlideRight {
	0% {
        left: -150%;
	}
	100% {
        left: 10%;
	}
}

/*****************************/

/************* Storage List *************/
#list {
	position: fixed;
	display: block;
	background-color: white;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	-webkit-box-shadow: 0px 2px 6px rgba(30,30,30,0.3);
	z-index: 10;
	white-space: nowrap; //強制一行
}

#list::-webkit-scrollbar-track
{
	background-color: white;
}

#list::-webkit-scrollbar
{
	height: 4px;
	background-color: #F5F5F5;
}

#list::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	background: #bbb;
}

.item {
	position: relative;
	display: inline-block;
	margin: 0px 3px;
	height: 90px;
	width: 200px;
	background: linear-gradient(#ddd, #eee);
	box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.7);
	cursor: pointer;
}

.itemclick {
	border: 1px solid #FFCC22;
	border-radius: 5px;
	box-shadow: inset 0px 0px 10px rgba(255, 136, 0, 0.9);
}

.item .itemimg {
	position: absolute;
	left: 30px;
	width: 38%;
}

.item .itemname {
	margin-top: 5px;
	font-size: 11pt;
	text-align: center;
	color: #666666;
}

.item .itemcount {
	//position: absolute;
	float: right;
	font-size: 13pt;
	font-weight: bold;
	margin-right: 35px;
	margin-top: 20px;
}

/*****************************/
.btn {
	position: absolute;
	width: 20%;
	top: 160px;
	right: 41%;
}

#belt_div {
	position: absolute;
	bottom: 0px;
	left: 10%;
	width: 200%;
}

.belt {
	width: 50%;
}

#track {
	width: 60%; 
	position: absolute;
	left: 201%;
	bottom: -15px;
}

#target {
	position: absolute;
	left: 0.85%;
	bottom: 265%;
	width: 6.5%;
	display: none;
}

#arm {
	position: absolute;
	left: -2%;
	bottom: 265%;
	width: 12.2%; 
	z-index: 5;
	display: none;
}

#log_btn {
	position: absolute;
	top: 110px;
	right: 5px;
	width: 5%;
	cursor: pointer;
}

#log {
	height: 350px;
	width: 350px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 70px;
	background-color: white;
	z-index: 20;
	text-align: center;
	overflow-y: scroll;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
	display: none;
}

#log table {
	display: block;
	border-collapse:separate;
	border-spacing: 35px 3px;
	margin-left: -15px;
}

#log table .log_num {
	font-weight: bold;
}

#log table td {
	border-top: 1px solid #8c8c8c;
	width: 130px;
	padding: 6px 0px;
}

#log::-webkit-scrollbar-track
{
	background-color: white;
}
#log::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}
#log::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	background: #bbb;
}

.log_title {
	position: absolute;
	background-color: #80ccff;
	width: 100%;
	height: 57px;
	box-shadow: 1px 0px 3px rgba(20, 20, 20, 0.8);
	z-index: -5;
}