

body {
	margin: 0px;
}

#btn {
	display: block;
	position: absolute;
	left: 50px;
	bottom: 50px;
	height: 80px;
	width: 80px;
	background-color: red;
	border-radius: 50%;
	border: 1px solid black;
}