<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acer</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
  </head>
  <body>
    <div id="app">
      <div class="wrapper" v-if="check === false">
        <div class="fruit-title">
          <transition name="fade">
            <h2 v-if="fruit">{{fruit}}</h2>
          </transition>
          <p v-if="fruit === 'Apple' || fruit === 'Orange' || fruit === 'Lemon'">Price/Piece: {{unitPrise[fruit]}}</p>
          <p v-if="fruit === 'Lychee' || fruit === 'Grapes'">Price/Gram: {{kgPrise[fruit]}}</p>
        </div>
        <transition-group name="fade" key="fruit_image">
          <div class="fruit-left" v-if="fruit === 'Apple'" v-bind:key="fruit"><img src="img/Apple.png"></div>
          <div class="fruit-left" v-if="fruit === 'Orange'" v-bind:key="fruit"><img src="img/Orange.png"></div>
          <div class="fruit-left" v-if="fruit === 'Lemon'" v-bind:key="fruit"><img src="img/Lemon.png"></div>
          <div class="fruit-left" v-if="fruit === 'Lychee'" v-bind:key="fruit"><img src="img/Lychee.png"></div>
          <div class="fruit-left" v-if="fruit === 'Grapes'" v-bind:key="fruit"><img src="img/Grapes.png"></div>
          <div class="fruit-left" v-if="fruit === 'Scale'" v-bind:key="fruit"><img src="img/Scale.png"></div>
        </transition-group>
        <div class="fruit-right">
          <table>
            <tr>
              <td>Unit: </td>
              <td>{{count}}</td>
            </tr>
            <tr>
              <td>Weight: </td>
              <td>{{weight}} g</td>
            </tr>
            <tr>
              <td>Total: </td>
              <td v-if="fruit === 'Apple' || fruit === 'Orange' || fruit === 'Lemon'">$ {{totals.unitTotal}}</td>
              <td v-if="fruit === 'Lychee' || fruit === 'Grapes'">$ {{totals.kgTotal}}</td>
              <td v-if="fruit === 'Scale'">$ {{totals.kgTotal}}</td>
            </tr>
          </table>
        </div>
        <div class="clear"></div>
        <!--
        <div class="fruit-send">
        <button class="fruit-button" id="btn" v-on:click="checkOut(fruit, weight)">CHECK OUT</button>
        </div>
        -->
      </div>
      <div class="wrapper" v-if="check">
        <div class="fruit-title">
          <h2>Stock</h2>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="gallery"><img src="img/Apple.png" width="400" height="300">
              <div class="desc" id="Apple">{{stock['Apple']}} G</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="gallery"><img src="img/Lemon.png" width="400" height="300">
              <div class="desc" id="Lemon">{{stock['Lemon']}} G</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="gallery"><img src="img/Orange.png" width="400" height="300">
              <div class="desc" id="Orange">{{stock['Orange']}} G</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="gallery"><img src="img/Lychee.png" width="400" height="300">
              <div class="desc" id="Lychee">{{stock['Lychee']}} G</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="gallery"><img src="img/Grapes.png" width="400" height="300">
              <div class="desc" id="Grapes">{{stock['Grapes']}} G</div>
            </div>
          </div>
        </div>
        <div class="fruit-send">
          <button class="fruit-button" id="btn" v-on:click="backToTop()">BACK</button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="assets/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
